h1 {
    font-size: 80px;
    font-family: Impact;
    font-weight: 800;
    color: #000000;
    padding-top: 40px;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}

p {
    font-size: 35px;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 20px;
}

button:hover{
    background-color: green;
}
